.home{
    height: 100vh;
    padding-top: 10px;
}

.homepage{
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

input{
  margin: 15px;
}

button{
  font-size: 20px;
  background-color: #367ad3;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.Events{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Events .list {
  display: flex;
  align-items: center;
  height: 103px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 9% / 20%;
  margin: 15px auto;
  justify-content: space-between;
  font-size: 17.5px;
  padding: 10px;
  margin-right: 66px;
}

.list:hover{
  border: 2.35px solid rgb(54, 30, 206);
  box-sizing: content-box;
  box-shadow: 2px 1px 6px 5px rgb(212, 211, 209);
}

h1{
  font-family: "ui-monospace";
}

button:hover{
  box-shadow: 2px 2px 2px 2px rgb(126, 127, 129);
}

.listitem {
  margin: 5px;
  width: 100%;
}